.ranking {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(326.9deg, #13132b 5.79%, #135e87 283.21%);
  color: #fff;
  font-family: "Exo 2", sans-serif;

  .page-box {
    background: radial-gradient(circle, #2a41c5 0%, #0d1b33 100%);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;

      .img-container {
        width: 80px;
        height: 80px;
        background-color: #3a3a3a;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

        img {
          width: 50px;
        }
      }

      h1 {
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        margin: 0;
      }
    }

    .body {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px;

      .rank-container {
        margin: 20px;
        width: 100%;

        text-align: center;
        background: radial-gradient(
          circle,
          #00bfff,
          #2d88ff,
          #594cff,
          #8519ff,
          #a600ff
        );
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &:hover {
          transform: translateY(-5px);
        }

        .rank-img {
          margin: auto;
          height: 70%;
          width: 70%;
        }

        .rank-title {
          display: block;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;

          .mmr {
            margin: 20px;
            text-align: center;
            font-size: 14px;
            font-weight: normal;
            color: #fff;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  .back-btn {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;

    &:hover {
      transform: translateY(-5px);
    }
  }
}
