$accent-color: #ffa640;
$bg-color: linear-gradient(326.9deg, #13132b 5.79%, #135e87 283.21%);
$bg-color-360: linear-gradient(360deg, #13132b 5.79%, #135e87 283.21%);
$btn-primary-bg: linear-gradient(180deg, #02a3fe 0%, #7d40ff 100%);
$ledgers-bg: linear-gradient(180deg, #02a3fe 0%, #7d40ff 100%);
$separator-color: rgba(255, 255, 255, 0.075);
$scroll-bg: #7c7c7c5b;
