.profile {
  margin-top: 20px;
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
}

.badge {
  h4 {
    color: white;
    font-size: 15px;
  }

  img {
    clip-path: pentagon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  }
}

.ledgers {
  display: flex;
  margin-top: 20px;
  color: white;

  .item {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: black;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;

    &:hover {
      font-size: large;
    }
  }
}
