.navbar-container {
  color: white;
  padding: 20px;
}

.profile-container {
  margin-top: 200px;
  align-items: center;
  background: radial-gradient(circle, #2a41c5 0%, #0d1b33 100%);
  transition: 0.4s ease;
  background-size: 300%;
  border-radius: 12px;
  justify-content: space-between;
  max-height: 200px;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  margin: 20px;
}

.profile {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.name {
  display: flex;
  flex-direction: column;
}

.badge {
  display: flex;
  margin: 10px;

  img {
    width: 30%;
    height: 30%;
  }

  h4 {
    font-size: 20px;
    margin: 0.5rem;
  }
}

.ledgers-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ledgers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;

  img {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

ul {
  display: flex;
  position: absolute;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #02a3fe 0%, #7d40ff 100%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 18px;

    &:hover {
      font-size: large;
      background-image: linear-gradient(
        to right top,
        #ff0,
        #ff8c00,
        #f00,
        #00f
      );
    }
  }
}
